# Copy this file to .env and fill values.

# AuraDB
AURA_DB_URI=neo4j+s://YOUR_AURADB_ID.databases.neo4j.io
AURA_DB_USERNAME=neo4j
AURA_DB_PASSWORD=YOUR_AURADB_PASSWORD
AURA_DB_DATABASE=neo4j

NEO4J_URI=${AURA_DB_URI}
NEO4J_USERNAME=${AURA_DB_USERNAME}
NEO4J_PASSWORD=${AURA_DB_PASSWORD}
NEO4J_DATABASE=${AURA_DB_DATABASE}

# AuraDS VDC
AURA_DS_URI=neo4j+s://YOUR_AURADS_VDC_ID.databases.neo4j.io
AURA_DS_USERNAME=neo4j
AURA_DS_PASSWORD=YOUR_AURADS_VDC_PASSWORD
AURA_DS_DATABASE=neo4j
AURA_DS_INSTANCE_NAME=YOUR_AURADS_INSTANCE_NAME
AURA_DS_REGION=YOUR_AURADS_REGION
